@model NetShop_cw_47.Models.Phone
@functions {
public string url { get; set; }
}

@{
    ViewData["Title"] = "Характеристики";
}

<h2>Характеристики @Model.Name</h2>
<br />
<br />
<p>
    <ul>
        <li>@ViewBag.Features</li>
        <li> Цена @Model.Price</li>

    </ul>

</p>
<br />
<br />
@*Код рабочий*@
<table class="table-condensed" >
    <tr>
        <td><b>Стоимость телефона</b></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        @{
            double[] a = ViewBag.currR;
            string[] b = ViewBag.currC;
            int i = 0;
            <td>@(Model.Price + " USD") </td>
            foreach (double VARIABLE in a)
            {
                <td>@(VARIABLE * Model.Price + " " + b[i])</td>
                i++;
            }
        }
    </tr>
</table>
<br />
<br />

@Html.ActionLink("Сайт производителя", "Manufacturer", new { url = ViewBag.Url })
