@model NetShop_cw_47.Models.Phone

@{
    ViewData["Title"] = "Характеристики";
}

<h2>Features</h2>

@{
    if (Model.Company == "Apple")
    {
        @Html.Partial("_Apple")
    }
    else
    {
        <ul>
            <li>@Model.id</li>
            <li>@Model.Company</li>
            <li>@Model.Name</li>

            <li>@Model.Price</li>
            <li>@Model.QuantityOrders</li>

        </ul>
       
    }
}
<p>
    @ViewBag.Features
</p>

@*@Html.ActionLink("Сайт производителя", "Manufacturer", id })*@





